body {
	font-family : Tahoma, Microsoft JhengHei;
}

.navbar {
    margin-bottom: 0;
    color: #000;
    background-color: #009393;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
  color: #000 !important;
}