<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head th:frament="head">
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/css/header.css}" />
</head>

<body>

	<div th:fragment="navigationBar">
		<!-- Section : Navigation Bar -->
		<nav class="navbar navbar-default navbar-fixed-top">
		  <div class="container">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>                       
		      </button>
		      <a class="navbar-brand" th:href="@{/}">Practice首頁</a>
		    </div>
		    <div class="collapse navbar-collapse" id="myNavbar">
		      <!-- 往右靠 -->
		      <ul class="nav navbar-nav navbar-right">
		        <li><a th:href="@{/uploadExcel/getExcelUploadView}">Excel上傳</a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		        <li><a th:href="@{/springmvcView/getSpringmvcView}">練習</a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		        <li><a th:href="@{/maintainProduct/getProductView}">商品</a></li>
		      </ul>
		    </div>
		  </div>
		</nav>
	</div>	
	
</body>

</html>