<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/css/template.css}" />
</head>
<body>
	<!-- header -->
	<section layout:fragment="custom-header">
		<header layout:replace="header.html" ></header>
	</section>
	<!-- content & footer -->
	<div class="container-fluid">	
	
	<div class="template-content">
		<section layout:fragment="custom-content">
			<p>template content</p>
		</section>
	</div>
	
	<!-- footer -->
	<section layout:fragment="custom-footer">
		</section>
	</div>		
		
</body>
</html>