<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.practice.mapper.MaintainProductMapper">

	<insert id="saveProduct" parameterType="com.practice.productMaintain.model.ProductModel"
	 useGeneratedKeys="true" keyProperty="productId" keyColumn="PRODUCT_ID">
		INSERT INTO PRODUCT (SKU_NUMBER, SKU_NAME) VALUES (#{skuNumber}, #{skuName})	
	</insert>

	<select id="findProductBySkuNumber" parameterType="String" resultType="com.practice.productMaintain.model.ProductModel">
		SELECT PRODUCT_ID as productId, SKU_NUMBER as skuNumber, SKU_NAME as skuName
		FROM PRODUCT
		WHERE SKU_NUMBER = #{skuNumber}
	</select>

</mapper>